amqp==2.3.2
anyjson==0.3.3
billiard==3.5.0.4
boto3==1.7.59
botocore==1.10.59
celery==5.2.2
docutils==0.14
futures==3.2.0
jmespath==0.9.3
kombu==4.2.1
pbr==4.1.0
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
s3transfer==0.1.13
six==1.11.0
stevedore==1.28.0
vine==1.1.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
